.title-col{
    justify-content: center;
    text-align: center;
}
hr{
    height:3px;
    width:100%;
    color: grey;
}
a{
    text-decoration: none;
}
.container .row div{
    height: 500px;
}
.carousel-caption{
    text-align: left;
}

.nav .nav-link{
 text-decoration: none;
 color: rgb(107, 107, 107);
 font-size: 0.85rem;
 padding: 0.25rem 0  0 0.75rem;
}
.nav .nav-link:hover{
    font-weight: bold;
    padding: 0.25rem 0  0 0.75rem;
    font-size: 0.85rem;
    text-decoration: none;
}
.nav-log span a{
    text-decoration: none;
    color: rgb(107, 107, 107);
    font-size: 0.85rem;
    font-weight: 500;
}
.nav-log{
    text-align: end;
    justify-content: end;
    
    
}
.sub{
    margin-top:15px;
}
.sub a{
    
    text-decoration: none;
}
.navbar-brand{
    font-size: 2.75em;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.shortened{
    display:none;
}
@media only screen and (max-width: 1300px) {
    .navbar-brand{
        font-size:1.75em;
    }
}
@media only screen and (max-width: 767px) {
    
    .row{
        display: inline-flex;
    }
    
    .navbar-brand{
       display:none;
        
    }
    .container-fluid{
        width:100%;
    }
    .shortened{
        display:block;
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 2.75em;
        margin-right:auto;
        margin-left:auto;

    }
    .navbar{
        padding:0;
        
    }

    .about{
        display: none;
    }
    .nav-log{
        display:none;
    }

}
.about{
    background-color: rgb(177, 177, 177);
    
}

.about a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.85rem;

}
.breaking-news{
    color:#a7976c;
}
.grid-main{
    max-width:1200px;
    margin: 60px auto;
    
    gap:30px;
    display:grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-auto-rows: 250px;
    
}
.grid-main div{
    overflow: hidden;
    
    background-color: white;
    border-radius: 6px;
    border:16px solid white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
}
.grid-main img{
    min-width: 100%;
    height: 200px;
}
.grid-main .long{
    grid-row: span 2;
}
.grid-main .short{
    grid-row: span 1;
}
.grid-main h2{
    color:rgba(24, 14, 14, 0.8);
}
.grid-main p{
    font-weight: 100;
}
.grid-main h6{
    font-weight: 200;
    font-size: 0.75em;
}
.grid-main article{
    width: fit-content;
block-size: fit-content;
}